---
layout: default
---
<!-- Cell-like component. Pluto.jl style -->
<div class="block py-4">
<div class="flex">
  <div class="w-1 bg-slate-400 rounded-l-lg"></div>
  <div class="w-full">
    <div class="px-2 bg-zinc-200 text-red-500 rounded-tr-sm border-t border-r border-slate-400 font-mono font-semibold"># print_{{ title | downcase | split: " " | join: "_" }}();</div>
    <div class="px-2 bg-zinc-50 rounded-br-sm border-b border-r border-slate-400 font-mono">{{ content }}</div>
  </div>
</div>
<div class="px-2 text-right text-xs italic text-slate-400 font-mono">End of cell</div>
</div>